$color: #456789;

body, html {
  background-color: $color;
  height: 100%;
  margin: 0;
}

#full-image-background {
  > div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    &.hide {
      opacity: 0;
    }
  }
}
